//****************        Variables        ****************//
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
$font1:'Montserrat', sans-serif;
$color1: #060136;
$color2: #026897;
$color3: #BEC9D7;
$color4: #360117;
$color5: #970215;

$white: #fff;
$black: #000;

//****************        Mixin        ****************//

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(45deg,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(45deg,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


//****************        Base        ****************//

html, body{
	overflow:hidden;
	height:100vh; 
	max-width: 100%;
	width:100vw;
	font:{
		family:$font1;
	}
}

h1,h2,h3,h4,h5,h6{
	margin:0;
}

h1 {
	font:{
		size:1.05em;
		weight:500;
	}
}

h2 {
	font:{
		size:0.85em;
		weight:400;
	}
}

h3 {
	font:{
		size:0.775em;
		weight:500;
	}
}

h4 {
	font:{
		size:0.7em;
		weight:500;
	}
}

h5 {
	font:{
		size:0.6em;
	}
}

h6 {
	
}




//****************        General        ****************//

#header{
	position:fixed;
	width: 100vw;
	bottom:0;
    z-index: 100;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 30px;
    @include linearGradient($color1, $color2);
    box-shadow:0 -2px 5px rgba($black, 0.7);
	svg{
		color:$white;
	}
}

.section{
	height:100vh;
	box-sizing: border-box;
	padding:30px 30px 30px;
	position:absolute;
	background-color:$white;
	display:flex;
	flex-direction:column;
	width:100%;

}

//****************        Login        ****************//

#loginSection{
	h1{
		margin-bottom:50px;
	}
	.btnblue{
		margin-bottom:30px;
	}
}

//****************        APP        ****************//


#loginSection{
	.btn{
		display: flex;
	    justify-content: flex-start;
	    svg{
			width: 40px!important;
		    border-right: 1px solid;
		    padding: 20px;
		}
		div{
	    	padding-left:30px;
	    }
	}
}
#section1{
	z-index:10;
	
}

#section2{
	display: none;
	@include linearGradient($color1, $color2);
	color:$white;

	h3,h4,h5{
		color:$color3;
	}
	
	#img_container{
		width:100%;
		height:35vh;
		position:absolute;
		top:0;
		left:0;
		background-size:cover;
		background-position: center center;
	}

	#like{
	    position: absolute;
	    bottom: -40px;
	    right: 10px;
	    padding: 20px;
	    @include linearGradient($color4, $color5);
	    border-radius: 50%;
	}

	.animation{
		animation: animation 2s ease-out;
	}

	@keyframes animation {
		0%{transform:scale(1)};
		50%{transform:scale(1.1)};
		100%{transform:scale(1)};
	}

	#info_container{
		margin:37vh auto 0;
		color:$white;
		width: 100%;

	}
	.row{
		flex-direction: row;
		justify-content: space-between;
		display: flex;
		align-items:center;
	}

	hr{
		margin:20px 0;
	}

	#tip{
		margin-bottom:30px;
		h3{
			margin: 10px 20px;
			text-align: center;
		}
		// &:before{
		// 	content: ' " ';
		//     position: absolute;
		//     left: 30px;
		//     opacity: 0.4;
		//     font:{
		//     	size:2.5em;
		//     }
		// }	
		// &:after{
		// 	content: ' " ';
		//     position: absolute;
		//     right: 30px;
		//     opacity: 0.4;
		//     margin-top: -20px;
		//     font:{
		//     	size:2.5em;
		//     }
		// }
	}
	
	.btn_container{
	    
		.btnblue{
			@include linearGradient($color1, $color2);
			margin-bottom:20px;
		}

		.btnwhite{
			width: 50%;
			&:first-child{
				margin-right:10px;
			}
			&:last-child{
				margin-left:10px;
			}
		}
	}
}


#section3{
	display:none;

}


//****************        LIKED        ****************//
#liked_content{
	display:none;
	z-index:30;
	&>h1{
		justify-content: center;
	    display: flex;
	    flex: 1;
	    align-items: center;
	    color: #c2c2c2;
	    padding-top:40vh;
	}
	.container{
		display: flex;
		flex-direction: row;
		img{
			flex: 1;
		    max-height: 20vw;
		    display: flex;
		    max-width: 20vw;
		}
		.content{
			padding-left:10px;
			flex:3;
		}
	}
	.content_divider{
		margin:20px 0;
	}	
	
}
.active{
		overflow-y: auto; 
		
	}


//****************        UI        ****************//

.foodbtn{
	margin:15px auto;
	overflow:hidden;
	background-size:cover;
	background-position:center center;
    background-blend-mode: overlay;
    background-color: #f3f3f3;
	
	&:nth-child(2){
		background-image: url("https://source.unsplash.com/featured/?salad");
	}
	&:nth-child(3){
		background-image: url("https://source.unsplash.com/featured/?taco");
	}
	&:nth-child(4){
		background-image: url("https://source.unsplash.com/featured/?burger");
	}
	&:nth-child(5){
		background-image: url("https://source.unsplash.com/featured/?steak");
	}
	&:nth-child(6){
		background-image: url("https://source.unsplash.com/featured/?vegan");
	}
	&:nth-child(7){
		background-image: url("https://source.unsplash.com/featured/?vegetarian");
	}
	&:nth-child(8){
		background-image: url("https://source.unsplash.com/featured/?crepe");
	}
	&:nth-child(9){
		background-image: url("https://source.unsplash.com/featured/?wings");
	}
}

.fab{

}

.btn{
	width:100%;
	border-radius: 5px;
	box-shadow: 2px 2px 6px rgba($black,0.35);
	display:flex;
	justify-content:center;
	align-items: center;
	flex:1;
	min-height:50px;
	max-height:60px;
	font:{
    	size:0.75em;
    	weight:500;
    }    
}

.btnblue{
	@include linearGradient($color1, $color2);
	color:$white;
}

.btnwhite{
	background-color:$white;
	color:$color1;
    padding: 0 30px;
    text-align: center;
}

.btn_container{
    position: absolute;
    bottom: 80px;
    left:30px;
    right:30px;
}

.svg{
	width:40px;
	height:40px;
	&:hover{
		img{
			transform:scale(1.1);
			transition: transform ease 1.3s;
		}
	}
	img{
		margin:7.5px;
		width: 25px;
		height: 25px;
	}
}

hr{
	width: 100%;
}

//****************        MAP        ****************//

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 70vh;
}
/* Optional: Makes the sample page fill the window. */

#floating-panel {
position: absolute;
top: 10px;
left: 25%;
z-index: 5;
background-color: #fff;
padding: 5px;
border: 1px solid #999;
text-align: center;
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}
#warnings-panel {
width: 100%;
height:10%;
text-align: center;
}